version: 2.1

orbs:
  architect: giantswarm/architect@6.10.0

workflows:
  test:
    jobs:
      - architect/go-build:
          context: architect
          name: go-build
          binary: template
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/
